body {
  font-family: sans-serif;
  background-color: #000;
  background-image: linear-gradient(to bottom, #000, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  min-height: 100%;
  background-color: #000;
  background-image: linear-gradient(to bottom, #000, #918e82 100%);
}

header {
  background: #fff;
  background-image: linear-gradient(to top, #FFF, #918e82 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

#loginButtons {
  display: block;
 }

h2 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-message input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-message input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

.new-message input {
    padding-bottom: 5px;
  }
}